<ion-header no-border>
  <ion-toolbar style="background-color: #03A9F4; color: #FFFFFF;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Detalhes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Faixa de Idade</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <canvas #doughnutCanvas width="200" height="200"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <ion-card-title>Teste</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <canvas #doughnutCanvas1 width="200" height="200"></canvas>
          </ion-card-content>
        </ion-card>
      
  
  
</ion-content>
