<ion-header no-border>
  <ion-toolbar style="background-color: #03A9F4; color: #FFFFFF;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rank Presença
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of listaRank">
        <ion-item >
            <ion-label>
              <h3>{{item.cliente}}</h3>
              <p >{{item.tempo}}</p>
              <!--<p >{{item.segundos}}</p>-->
            </ion-label>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
