<ion-header no-border>
    <ion-toolbar style="background-color: #03A9F4; color: #FFFFFF;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Pessoas no Setor
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-list class="ios list-ios hydrated">
    <ion-item class="item-label item ios in-list ion-focusable hydrated" *ngFor="let pessoa of listPessoasSetor">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="../../../assets/iconUser/IconUser.png">
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h1>{{pessoa.cliente}}</h1>
        <h3>{{pessoa.idade}} anos</h3>
        <p >{{pessoa.email}}</p>
        <p >{{pessoa.profissao}}  {{pessoa.cidade}}</p>
        <p></p>
      </ion-label>
    </ion-item>  
  </ion-list>

</ion-content>
