ion-toolbar {
--background: transparent;
--ion-color-base: transparent !important;
}
  
ion-icon {
    font-size: 30px; //Preferred size here
    color: #03A9F4;
}

img {
    max-width: 140%;
    border: 0;
    width: 45px;
    height: 50px;
}