<ion-header no-border>
  <ion-toolbar style="background-color: #03A9F4; color: #FFFFFF;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-grid *ngIf="user" style="height: 100%; background-color: #03A9F4; color: #FFFFFF; text-align: center;">
      <ion-row justify-content-center align-items-center>
        <div>
            <img src="../../assets/icon/drawable-xxhdpi-icon.png">
        </div>          
      </ion-row>
      <ion-row justify-content-center style="font-size:large" >
          Bem vindo<b>&nbsp;{{ user.nome }}</b>
      </ion-row>
      </ion-grid>
 
</ion-content>

<ion-footer style="background-color: #448AFF;">
    <ion-grid>
        <ion-row>
          <ion-col>
            <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;" routerLink="/menu/setores-info">
                    <ion-icon name="clipboard"></ion-icon> 
                <br>
                <label style="font-weight: bold; text-align: center;">Informações setores</label>
            </button>
          </ion-col>
          <ion-col>
              <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;">
                  <label style="font-size: 15pt; font-weight: bold;"><ion-icon name="contacts"></ion-icon> {{ data.qtd_passaram }} </label>
                  <br><br>
                  <label style="font-weight: bold; text-align: center;">Total já identificado</label>
              </button>
          </ion-col>
          <ion-col>
              <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;">
                  <label style="font-size: 15pt; font-weight: bold;"><ion-icon name="contacts"></ion-icon> {{ data.qtd_atual }} </label>
                  <br><br>
                  <label style="font-weight: bold; text-align: center;">Total agora</label>
              </button>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;" routerLink="/menu/detalhes">
                    <ion-icon name="bulb"></ion-icon>
                    <br><br>
                    <label style="font-weight: bold; text-align: center;">Detalhes</label>
                </button>
            </ion-col>
            <ion-col>
                <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;">
                  <ion-icon name="pricetag"></ion-icon>
                    <br><br>
                    <label style="font-weight: bold; text-align: center;">Rastrear participante</label>
                </button>
            </ion-col>
            <ion-col>
                <button style="width: 100%; height: 120px; background-color: white; border-radius: 10px;">
                    <ion-icon name="build"></ion-icon>
                    <br><br>
                    <label style="font-weight: bold; text-align: center;">Configurações</label>
                </button>
            </ion-col>
          </ion-row>
      </ion-grid>
</ion-footer>
