.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }

  ion-icon {
    font-size: 30px; //Preferred size here
    color: #03A9F4;
}